.table-container {
  height: 700px;
  width: 700px;
  margin: 0 auto;
  padding: 10px 0;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

tr {
  width: 100%;

}

td {
  height: 30px;
  padding: 0;
  vertical-align: baseline;

  &.time-field {
    width: 80px;
  }

  &.event-field {
    width: 620px;
    background-color: lightgray;
  }
}

tfoot td.event-field {
  background-color: white;
}
